<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Analysis | {{ company_name|upper }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% load static %}
      <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
      <link rel="stylesheet" href="{% static 'css/detailed_analysis.css' %}">
      <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
      <link rel="stylesheet" href="{% static 'css/w3.css' %}">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   </head>
   <body style="background-color:#151B24;">
      <!-- Sidebar -->
      <div class="sidebar" style="width:13%">
         <a href="/" class="w3-bar-item w3-button">Home</a>
         <a href="/detailed_analysis" class="w3-bar-item w3-button">Detailed analysis</a>
         <a href="https://beta.nseindia.com/companies-listing/corporate-filings-announcements" class="w3-bar-item w3-button" target="_blank">NSE announcements</a>
      </div>
      <div class="content">
         <div class="search-box">
            <form class="form-inline active-cyan-3 active-cyan-4">
               <i class="fas fa-search" aria-hidden="true"></i>
               <input class="form-control form-control-sm ml-3 w-75" name="search_company"  type="text" placeholder="Search" aria-label="Search">
            </form>
         </div>
         <div class="main-heading">
            <p>Analysis on <i>{{ company_name }}</i></p>
         </div>
         <div class="centre-div">
            <div>
               <div class="sub-heading"><font color="#2BD784">REWARDS</font></div>
               {% for reward in rewards %}
               <p><font color="#FFFFFF">{{ reward }}</font></p>
               {% endfor %}
               <div class="sub-heading"><font color="#E64141">RISKS</font></div>
               {% for risk in risks %}
               <p><font color="#FFFFFF">{{ risk }}</font></p>
               {% endfor %}
            </div>
            {% for insight in insights_dict %}
            {% if forloop.counter == 1 %}
            <div class="sub-headings">
               <span>Share Price</span>
            </div>
            {% endif %}
            {% if forloop.counter == 4 %}
            <div class="sub-headings">
               <span>Valuation</span>
            </div>
            {% endif %}
            {% if forloop.counter == 10 %}
            <div class="sub-headings">
               <span>Future Growth</span>
            </div>
            {% endif %}
            {% if forloop.counter == 16 %}
            <div class="sub-headings">
               <span>Past Performance</span>
            </div>
            {% endif %}
            {% if forloop.counter == 22 %}
            <div class="sub-headings">
               <span>Financial Health</span>
            </div>
            {% endif %}
            {% if forloop.counter == 30 %}
            <div class="sub-headings">
               <span>Dividend</span>
            </div>
            {% endif %}
            {% if forloop.counter == 36 %}
            <div class="sub-headings">
               <span>Management</span>
            </div>
            {% endif %}
            <div class="sub-centre-div">
               <p><span style="color:#958A87;">{{ forloop.counter }}. </span><font color="{{ insight.insight_color }}">{{ insight.insight_name }}</font><span class="news-date"><font color="#FFFFFF">{{ insight.insight_data }}</font></span>
            </div>
            {% endfor %}
            {% for insight in insights_dict %}
            {% endfor %}
         </div>
      </div>
   </body>
</html>