<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Market view</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% load static %}
      <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
      <link rel="stylesheet" href="{% static 'css/market_view.css' %}">
      <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
      <link rel="stylesheet" href="{% static 'css/w3.css' %}">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   </head>
   <body style="background-color:#0d0d0d;">
      <!-- Sidebar -->
      <div class="sidebar" style="width:13%">
         <a href="/" class="w3-bar-item w3-button">Home</a>
         <a href="/detailed_analysis" class="w3-bar-item w3-button">Detailed analysis</a>
         <a href="https://beta.nseindia.com/companies-listing/corporate-filings-announcements" class="w3-bar-item w3-button" target="_blank">NSE announcements</a>
      </div>
      <div style="margin-left:20%">
         <form action="" method="get">
            <select class="button button1 rdiv" name="nifty_category" onchange='if(this.value != 0) { this.form.submit(); }'>
               <option selected="selected" disabled>SELECT NIFTY CATEGORY</option>
               <option value="NIFTY 50">NIFTY 50</option>
               <option value="NIFTY NEXT 50">NIFTY NEXT 50</option>
               <option value="NIFTY MIDCAP 50">NIFTY MIDCAP 100</option>
            </select>
            <!--  <input type="submit" value="Select">-->
         </form>
         <form action="" method="get">
            <select class="button button1 rdiv" name="sector" onchange='if(this.value != 0) { this.form.submit(); }'>
               <option selected="selected" disabled>SELECT SECTOR</option>
               <option value="Alcohol">Alcohol</option>
               <option value="Aluminium">Aluminium</option>
               <option value="AMC">AMC</option>
               <option value="Auto Ancillaries">Auto Ancillaries</option>
               <option value="Automobiles">Automobiles</option>
               <option value="Banking">Banking</option>
               <option value="Cement">Cement</option>
               <option value="Construction">Construction</option>
               <option value="Chemicals">Chemicals</option>
               <option value="Electrical">Electrical</option>
               <option value="Electronics">Electronics</option>
               <option value="Energy">Energy</option>
               <option value="Engineering">Engineering</option>
               <option value="Entertainment">Entertainment</option>
               <option value="FMCG">FMCG</option>
               <option value="Finance">Finance</option>
               <option value="Food and Beverage">Food and Beverages</option>
               <option value="Gas">Gas</option>
               <option value="Healthcare">Healthcare</option>
               <option value="Hospitality">Hospitality</option>
               <option value="Insurance">Insurance</option>
               <option value="IT">IT</option>
               <option value="Jewellery">Jewellery</option>
               <option value="Mining">Mining</option>
               <option value="NBFC">NBFC</option>
               <option value="Oil">Oil</option>
               <option value="Paints">Paints</option>
               <option value="Personal Care">Personal Care</option>
               <option value="Pharmaceuticals">Pharmaceuticals</option>
               <option value="Ports">Ports</option>
               <option value="Power">Power</option>
               <option value="Real Estate">Real Estate</option>
               <option value="Renewable Energy">Renewable Energy</option>
               <option value="Retail">Retail</option>
               <option value="Steel">Steel</option>
               <option value="Telecom">Telecom</option>
               <option value="Textiles">Textiles</option>
               <option value="Transmission">Transmission</option>
               <option value="Transport">Transport</option>
            </select>
            <!--  <input type="submit" value="Select">-->
         </form>
      </div>
      <div class="company-list container">
         <table class="table table-borderless table-dark">
            <thead>
               <tr>
                  <th scope="col">Company</th>
                  <th scope="col">BSE market depth</th>
                  <th scope="col">Buy</th>
                  <th scope="col">Sell</th>
                  <th scope="col">Hold</th>
                  <th scope="col">Price</th>
                  <th scope="col">Change</th>
                  <th scope="col">Market Cap (Rs Cr.)</th>
                  <th scope="col">EPS (TTM)</th>
                  <th scope="col">P/E</th>
                  <th scope="col">Industry P/E</th>
                  <th scope="col">Book Value (Rs)</th>
                  <th scope="col">Price/Book</th>
                  <th scope="col">Dividend Yield.(%)</th>
               </tr>
            </thead>
            {% for company in moneycontrol_data %}
            <tr>
               <td>
                  <a href="{{ company.href }}" target="_blank">
                  {{ company.company_name }}
                  </a>
               </td>
               <td>
                  <font color="#2BD784">{{ company.market_depth_buy }}</font>
                  <font color="#E64141">{{ company.market_depth_sell }}</font>
               </td>
               <td><font color="#2BD784">{{ company.BUY }}</font></td>
               <td><font color="#E64141">{{ company.SELL }}</font></td>
               <td><font color="#7B8084">{{ company.HOLD }}</font></td>
               <td><font color="{{ company.color }}">{{ company.current_price }}</font></td>
               <td><font color="{{ company.color }}">{{ company.price_change }}</font></td>
               <td>{{ company.MarketCap }}</td>
               <td>{{ company.EPS }}</td>
               <td><font color="{{ company.pe_color }}">{{ company.PE }}</font></td>
               <td>{{ company.IndustryPE }}</td>
               <td>{{ company.BookValue }}</td>
               <td><font color="{{ company.price_book_color }}">{{ company.PriceBook }}</font></td>
               <td><font color="{{ company.DividendYield_color }}">{{ company.DividendYield }}</font></td>
            </tr>
            {% endfor %}
         </table>
      </div>
   </body>
</html>