.search-box {
	padding-top: 1%;
	float: right;
}

.main-heading {
	color: #FFFFFF;
	padding-top: 10px;
	font-size: 30px;
	font-family: sans-serif;
	margin-left: 15%;
}

.left-div {
	float: left;
}

.centre-div {
	margin-left: 15%;
	padding-top: 5%;
}

.sub-centre-div {
	margin-left: 5%;
}

.right-div {
	float: right;
}

.sub-headings {
	color: #ffffff;
	font-size: 25px;
}