.button {
	background-color: #151B24;
	border: none;
	color: #151B24;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.button1 {
	background-color: #151B24;
	color: #ffffff;
	border: 2px solid #08f;
}

.button1:hover {
	background-color: #151B24;
	color: #08f;
}

button1:active {
	background-color: #151B24;
}

button1:select {
	background-color: #151B24;
}

select.button option:hover {
	box-shadow: #03fcba;
}

.company-list {
	color: #ffffff;
	padding-top: 3%;
	margin-left: 25%;
	float: right;
}

.rdiv {
	float: right;
}